*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 75%;
    margin: 50px auto;
    text-align: center;
    border: 2px solid black;
    color: white;

    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-gap: 2px;
}

.div1{
    background: red;
    grid-column: 1/-1;

}
.div2{
    background: yellowgreen;
}
.div3{
    background: orange;
}
.div4{
    background: pink;
}
.div5{
    background: blue;
    grid-row: 2/4;
    grid-column: 4/5;

}

.div6{
    background: cyan;
    grid-column: 1/4;
}

.div7{
    background-color: burlywood;
    grid-column: 1/-1;
}