*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: 50px auto;
    text-align: center;
    border: 2px solid black;
    color: white;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;

}

.div1{
    background: red;
}
.div2{
    background: yellowgreen;
    grid-column: 1/-1;
}
.div3{
    background: orange;
}
.div4{
    background: pink;
}
.div5{
    background: blue;
    grid-row-start: 1; 
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.div6{
    background: cyan;
}